.screenPageDefStyle {
    background-color: #ffff83;
}

.resultBlock {
    display: flex;
}

.resultTextarea {
    width: 850px;
    height: 600px;
}

.fieldBlock {
    display: flex;
}

.fieldBlockMargin {
    margin-left: 10px;
}

.videoBlock {
    margin-left: auto;
}

.fieldTitle {
    margin: 0;
}

.previewBlock {
    display: flex;
}
.divTable {
    display: table;
    width:100vw;
    background-color: #eee;
    border: 1px solid #666666;
    border-spacing: 1px; /* cellspacing:poor IE support for  this */
}
.divTableRow {
    display: table-row;
    width: auto;
    clear: both;
}
.divTableCol {
    float: left; /* fix for  buggy browsers */
    display: table-column;
    width: 15vw;
    background-color: #ccc;
}
.divTextTableCol {
    float: left; /* fix for  buggy browsers */
    display: table-column;
    width: 54vw;
    background-color: #ccc;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}