.simplePageDefStyle {
    background-color: #7cfd7c;
}

.resultBlock {
    display: flex;
}

.resultTextarea {
    width: 50%;
    height: 600px;
    resize: none;
}

.fieldBlock {
    display: flex;
}

.fieldBlockMargin {
    margin-left: 10px;
}

.videoBlock {
    margin: auto;
}

.fieldTitle {
    margin: 0;
}